*secrets*
env
*pyc
ZillowNeighborhoods-CA/
*OLD*
*.db
templates/search-form.html
# Elastic Beanstalk Files
.ebextensions/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
templates/map-test.html
templates/user.html
templates/homepage.html
*xlsx
*.key