*secrets*
env
*pyc
ZillowNeighborhoods-CA/
test/
*OLD*
seed.py
*.db
templates/search-form.html
# Elastic Beanstalk Files
.ebextensions/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
