blinker==1.3
Flask==0.10.1
Flask-DebugToolbar==0.10.0
Flask-SQLAlchemy==2.0
foursquare==1!2015.5.26
future==0.15.0
httplib2==0.9.1
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
Metafone==0.5
python-crfsuite==0.8.3
pytz==2015.4
requests==2.7.0
six==1.9.0
SocksiPy-branch==1.1
SQLAlchemy==1.0.3
usaddress==0.5.4
virtualenv==13.1.0
Werkzeug==0.10.4
xmltodict==0.9.2
re