.blue {
	color: #10222B;
}

.white {
	color: white;
}

.yellow {
	color: #FFCC00;
}

.green {
	color: #95AB63;
}

.container-fluid {
	background-color: #10222B;
}

nav {
	border: none;
	border-radius: 0;
}

h2, h3, .navbar-brand { 
	font-family: 'Walter Turncoat', cursive;
}

#left-col-head {
	margin-top: 5px;
	margin-bottom: 5px;
}

.table-striped {
	background-color: #F6FFE0;
}

/*for left column*/
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #E2f0D6;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: #F6FFE0;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(189,214,132,0.5);
}

/*for comp table*/
.table-5-col > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #F6FFE0;
   vertical-align: middle;
}

.table-5-col > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: #E2f0D6;
   vertical-align: middle;
}

thead th {
	background-color: #10222B;
	border: none;
	border-radius: 0;
	color: white;
}

#search-btn {
      width: 75px;
      padding: 2px;
}

body {
background-color: #F6FFE0;
}

#address-search {
margin: 15px;
width: 500px;
}

.modal-confirm {
	height: 60%;
	width: 50%;
}

.modal-login {
	width: 30%;
	height: 50%;
	max-height: 575px;
}

#address-confirm {
	background-color: #BDD684;
}

#sf-homes {
	width: 80%;
	height: auto;
	position: absolute;
}

div.image {
	width: 80%;
	height: auto;
	position: absolute;
}

div.transbox {
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    margin-left: 10%;
    margin-top: 20%;
    padding:15px;
    text-align: center;
}

#welcome-text {
    color: #000000;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
