{% block content %}
<script>

//Load comparison table when address is confirmed
//Make the address confimation window disapear when user clicks "Yes"
//When property table loads, call ajax to update the lefthand column div
//Use the property-list app route to populate with properties from session
$(document).ready(function() {
    var alreadyLoadedMap = false;
    $("#confirm-yes").click(function() {
        console.log("Make div disappear!");
        $("#address-confirm").css("display","none");
        $.ajax("/property-list").done(function(result) {
        	$("#left-col").html(result);
          if (viewState == PageState.TABLE) {
            $.ajax("/comparison-table").done( function(result) {
              $("#contents").html(result);
            });
          } else {
            $.ajax("/default-map").done( function(result) {
              $("#contents").html(result);
              });
          }
    	});
    });
  alreadyLoadedMap = false;
});

//Make the address confimation window disapear when user clicks "No"
$(document).ready(function() {
    $("#confirm-no").click(function() {
        console.log("Make div disappear!");
        $("#address-confirm").css("display","none");
        $.post("/delete-property", {'Delete-Property': $('#hidden-input').attr("value")});
        console.log("Deleted from session");
    });
});

</script>

<div class="top-right-nav" style="width:50%;background-color:#BDD684">
  <h3>Address Confirmation</h3>
  <i>Is this the property you were looking for?</i>
  <br>
  {{ house.street }} <br>
  {{ house.city }}, {{ house.state }} {{ house.zipcode }}
<br>
<br>
<a href="#" id="confirm-yes" class="btn btn-large btn-primary">Yes! Add to Comparison List.</a>
<form>
	<input type="hidden" id="hidden-input" name="Delete-Property" value="{{ house.zpid }}">
  <br>
	<input type="submit" id="confirm-no" class="btn btn-large btn-primary" value="No! Search again.">
</form>	 
</div>
{% endblock %}