<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <title>Homespector Gadget</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="static/property.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css"
    rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
    <intercept-url pattern="/favicon.ico" access="ROLE_ANONYMOUS" />
    <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
    <style>
        h1, h2, h3, .navbar-brand { font-family: "Frijole"; }

        #homepage-title {
            margin: 0;
            top: 0.5em;
            width: 100%;
            text-align: center;
            color: #CCE6FF;
            font-weight: 400;
            font-size: 500%;
        }
        .btn.btn-primary {
          width: 75px;
          padding: 2px;
        }
      #address-search {
        width: 500px;
      }
    </style> 
</head>
<body>

<div id="left-col">
</div>
<nav class="navbar navbar-inverse top-right-nav" style="margin-bottom: 0px">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
<!--             <a class="navbar-brand" href="/">
                Homespector Gadget
            </a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">

        <form>
            <div class="form-group">
              <label> 
              <input id="address-search" type="text" name="address-search" class="form-inline" 
              placeholder="1600 Pennsylvania Ave. Washington, D.C.">
              </label>
              <input id="search-btn" value="Search" class="btn btn-primary"> 
            </div>
        </form>         

            <ul class="nav navbar-nav navbar-right" id="session-login">
                  <li><a href="/#" id="table-view-select">Table View</a></li>
                  <li><a href="/#" id="map-view-select">Map View</a></li>
              {% if "user_id" in session %}
                  <li><a href="/logout">Logout</a></li>
              {% else %}
                  <li><a href="/#" id="register">Register</a></li>
                  <li><a href="/#" id="login">Login</a></li>
              {% endif %}

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
    <div id="login-form" class="modal modal-login" style="width:50%;">
    </div>

    <div id="address-confirm" class="modal modal-confirm" style="width:50%;">
    </div>


{% block content %}

{% endblock %}

<div id="contents">
  <img id="sf-homes" src="static/sfhomes.jpg">
  <span class="glyphicon glyphichon-search" style="z-index:1; font-size:500%"/>
<!--   <p id="welcome-text">  Welcome to Homespector Gadget. Begin by searching for an street address with city+state or zip code. For example:<br>
  1600 Pennsylvania Ave. Washington, D.C.
  </p> -->
</div>
</body>
</html>