{% block content %}
<div class="comp-table" id="container-table">
    <div class="comp-row" id="r1">
        <div class="comp-col" id="specs-col">
            <table class="table table-striped table-5-col"><thead>
                <tr><th>
                    <b>SPECS</b>
                </th></tr>
            </thead>        
            <tbody>
                <tr><td><b>Listing Site</b></td></tr>
                <tr><td><b>Street</b></td></tr>
                <tr><td><b>City</b></td></tr>
                <tr><td><b>State</b></td></tr>
                <tr><td><b>Zip Code</b></td></tr>
                <tr><td><b>Bedrooms</b></td></tr>
                <tr><td><b>Bathrooms</b></td></tr>
                <tr><td><b>Lot Size (Sq.Ft.)</b></td></tr>
                <tr><td><b>Finished Area (Sq.Ft.)</b></td></tr>
                <tr><td><img src="https://cdn.walk.sc/images/api-logo.png"></td></tr> 
                <tr><td><b>Zestimate</b></td></tr>
                <tr><td><b>Year Built</b></td></tr>
                <tr><td><b>Last Sold Date</b></td></tr>
                <tr><td><b>Last Sold Price</b></td></tr>
                <tr><td><b>Use Code</b></td></tr>
                <tr><td><b>Latitude</b></td></tr>
                <tr><td><b>Longitude</b></td></tr>
                <tr><td></td></tr>
            </tbody></table>
        </div>

        {% for house in props_in_table %}
        <div class="comp-col" id="prop{{ loop.index }}-col">
            <table class="table table-5-col"><thead>
                <tr><th>
                    <b>PROPERTY {{ loop.index }}</b>
                </th></tr>
            </thead>        
            <tbody>        
                <tr><td id="listing-link"><a target="_blank" href='{{ house.homedetails }}'>Go to Zillow listing page</a></td></tr>
                <tr><td>{{ house.street }}</td></tr>
                <tr><td>{{ house.city }}</td></tr>
                <tr><td>{{ house.state }}</td></tr>
                <tr><td>{{ house.zipcode }}</td></tr>
                <tr><td>{{ house.bedrooms }}</td></tr>
                <tr><td>{{ house.bathrooms }}</td></tr>
                <tr><td>{{ "{:,.0f}".format(house.lotSizeSqFt|int) }}</td></tr>
                <tr><td>{{ "{:,.0f}".format(house.finishedSqFt|int) }}</td></tr>
                <tr><td>{{ house.walkscore }}</td></tr>
                <tr><td>{{ "${:,.0f}".format(house.z_amount|int) }}</td></tr>
                <tr><td>{{ house.yearBuilt }}</td></tr>
                <tr><td>{{ house.lastSoldDate }}</td></tr>
                <tr><td>{% if house.lastSoldPrice %}
                    {{ "${:,.0f}".format(house.lastSoldPrice|int) }}
                    {% endif %}</td></tr>
                <tr><td>{{ house.useCode }}</td></tr>
                <tr><td>{{ house.latitude }}</td></tr>
                <tr><td>{{ house.longitude }}</td></tr>
                <tr><td></td></tr>
            </tbody></table>
        </div>             
        {% endfor %}

    </div>    
</div> 
{% endblock %}