{% block content %}
<!-- Need to change this to a property table -->

<div class="comp-row" id="r1">
    <div class="comp-col" id="specs-col">

            
            <p>Click Here!</p>
            <p>Market Status</p>
            <p>List price</p>
            <p>Street</p>
            <p>City</p>
            <p>State</p>
            <p>Zip Code</p>
            <p>Bedrooms</p>
            <p>Bathrooms</p>
            <p>Zestimate</p>
            <p>Last sold on</p>
            <p>Last sold price</p>
            <p>WalkScore</p>
            <p>Transit Score</p>
    </div>
    <div class="comp-col" id="prop1-col">

            
            <p>Click Here!</p>
            <p>Market Status</p>
            <p>List price</p>
            <p>Street</p>
            <p>City</p>
            <p>State</p>
            <p>Zip Code</p>
            <p>Bedrooms</p>
            <p>Bathrooms</p>
            <p>Zestimate</p>
            <p>Last sold on</p>
            <p>Last sold price</p>
            <p>WalkScore</p>
            <p>Transit Score</p>
    </div>
    <div class="comp-col" id="prop2-col">

            
            <p>Click Here!</p>
            <p>Market Status</p>
            <p>List price</p>
            <p>Street</p>
            <p>City</p>
            <p>State</p>
            <p>Zip Code</p>
            <p>Bedrooms</p>
            <p>Bathrooms</p>
            <p>Zestimate</p>
            <p>Last sold on</p>
            <p>Last sold price</p>
            <p>WalkScore</p>
            <p>Transit Score</p>
    </div>
    <div class="comp-col" id="prop3-col">

            
            <p>Click Here!</p>
            <p>Market Status</p>
            <p>List price</p>
            <p>Street</p>
            <p>City</p>
            <p>State</p>
            <p>Zip Code</p>
            <p>Bedrooms</p>
            <p>Bathrooms</p>
            <p>Zestimate</p>
            <p>Last sold on</p>
            <p>Last sold price</p>
            <p>WalkScore</p>
            <p>Transit Score</p>
    </div>
    <div class="comp-col" id="prop4-col">

            
            <p>Click Here!</p>
            <p>Market Status</p>
            <p>List price</p>
            <p>Street</p>
            <p>City</p>
            <p>State</p>
            <p>Zip Code</p>
            <p>Bedrooms</p>
            <p>Bathrooms</p>
            <p>Zestimate</p>
            <p>Last sold on</p>
            <p>Last sold price</p>
            <p>WalkScore</p>
            <p>Transit Score</p>
    </div>
</div>    

{% endblock %}