{% block content %}
<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
<style>
  body { margin:0; padding:0px; }
  #detail-map {position:absolute; height:100%; width:100%;}
  #pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}
</style>
<div>
  <form id="narrow-locations-form">
    <input id="map-places-search" class="controls" type="text" placeholder="Search for places">
    <input id="places-search-submit" type="submit">
  </form>
</div>
<div id='detail-map'></div>

<!-- jQuery is required for this example. -->
<script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
<script>


var map = L.mapbox.map('detail-map', 'mapbox.emerald', { accessToken: "{{ MapboxKey }}" })
    .setView([{{ house.latitude }}, {{ house.longitude }}], 15);

// Credit Foursquare for their wonderful data
map.attributionControl
    .addAttribution('<a href="https://foursquare.com/">Places data from Foursquare</a>');


// Create the search box and link it to the UI element.
$("#places-search-submit").click(function(event) {
  event.preventDefault();
  var input = $("#map-places-search").val()
  $.ajax("/detailed-map", {
                method: "POST",
                datatype: "json",
                data: {'property':{{ house.zpid }},
                       'query': input}
        }).done(function(result) {
            $("#contents").html(result);
    });
});


// Create a Foursquare developer account: https://developer.foursquare.com/
// NOTE: CHANGE THESE VALUES TO YOUR OWN:
// Otherwise they can be cycled or deactivated with zero notice.
var CLIENT_ID = "{{ FourSqID }}";
var CLIENT_SECRET = "{{ FourSqSecret }}";
var QUERY = '{{ query }}'

// https://developer.foursquare.com/start/search
var API_ENDPOINT = 'https://api.foursquare.com/v2/venues/search' +
  '?client_id=CLIENT_ID' +
  '&client_secret=CLIENT_SECRET' +
  '&v=20130815' +
  '&ll=LATLON' +
  '&query=QUERY' +
  '&callback=?';
//Query will be a text input from user. They can add multiple categories with commas. Return an error message in query breaks

// Keep our place markers organized in a nice group.
var foursquarePlaces = L.layerGroup().addTo(map);
console.log("Foursquare Places")

// Use jQuery to make an AJAX request to Foursquare to load markers data.
$.getJSON(API_ENDPOINT
    .replace('CLIENT_ID', CLIENT_ID)
    .replace('CLIENT_SECRET', CLIENT_SECRET)
    .replace('QUERY', QUERY)
    .replace('LATLON', map.getCenter().lat +
        ',' + map.getCenter().lng), function(result, status) {
    L.mapbox.accessToken = "{{ MapboxKey }}";
    //EXPLAIN THIS

    console.log(status)
    if (status !== 'success') return alert('Request to Foursquare failed');
    console.log(result.response.venues.length)
    // Transform each venue result into a marker on the map.
    for (var i = 0; i < result.response.venues.length; i++) {
      var venue = result.response.venues[i];

      var latlng = L.latLng(venue.location.lat, venue.location.lng);
      console.log(latlng)
      var marker = L.marker(latlng, {
          icon: L.mapbox.marker.icon({
            'marker-color': '#BE9A6B',
            'marker-symbol': 'cafe',
            'marker-size': 'large'
          })
        })
      .bindPopup('<strong><a href="https://foursquare.com/v/' + venue.id + '">' +
        venue.name + '</a></strong>')
        .addTo(foursquarePlaces);
    }

});
</script>

{% endblock %}
