{% block content %}
<script>

    $(document).ready(function() {
        $('span.glyphicon-star').tooltip();
        $('span.glyphicon-pushpin').tooltip();
        $('span.glyphicon-check').tooltip();
        $('span.glyphicon-map-marker').tooltip(); 
              
    // When any user clicks on a property's star
    // Add the record to connect user and property in the UserProperty table
        $("span.glyphicon-star").click(function() { //highlight the star
            console.log(this);
            $(this).toggleClass("yellow");

    // Send the new property to the database
        $.ajax("/add-favorites", {
            method: "POST",
            datatype:"json",
            data: {'property': $(this).attr("id")} 
            }).done(function() {
                    console.log("Victory! Fave changed successfully");  // confirm in the console
            });
        });
    });


    // When any user clicks on a property's "X"
    // Delete this property from the session

    $(document).ready(function() { 
        $("span.glyphicon-pushpin").click(function() {    //highlight the star
            console.log(this);
          var that = this;
        // Send the new property to the database
        $.ajax("/delete-from-session", {
            method: "POST",
            datatype:"json",
            data: {'property': $(this).attr("id")}  // the remove class color doesn't work right now
            }).done(function() {
                    $(that).removeClass("blue");
                    $(that).addClass("white");
                    console.log(that.closest('tr'));
                    setTimeout(function(){
                        that.closest('tr').remove();
                    }, 1000);
                    if (viewState == PageState.TABLE) {
                        $.ajax("/comparison-table").done(function(result) {
                            $("#contents").html(result);  
                        });
                    } else {
                        $.ajax("/default-map").done(function(result) {
                            $("#contents").html(result);  
                        });
                    } 
                    console.log("Victory! Deleted from session."); // confirm in the console
            });
        });

        $("span.glyphicon-check").click(function() {    //highlight the star
            console.log(this);
            var isGreen = $(this).hasClass("green");
            var updateData = null;
            var that=this;
            if (!isGreen) {
                console.log("Add to comparison")
                updateData = {'zpid':$(this).attr("id"),
                            'is_in_table': false};
            
            } else {
                console.log("Remove from comparison")
                updateData = {'zpid':$(this).attr("id"),
                'is_in_table': true};

            }

            //Update the comparison table
            $.ajax("/update-comparison-table", {
                method: "POST",
                datatype:"json",
                data: updateData
                }).done(function(result) {
                    console.log("Update table result was: " + result);
                    if (result != "1") {
                        console.log("Comparison table was NOT updated");
                        alert("Please remove an item from table.")
                    } else {
                        console.log("Comparison table was updated");
                        $(that).toggleClass("green");
                        $.ajax("/comparison-table").done( function(result) {
                            console.log("Got new HTML for the comparison table: " + result);
                            $("#contents").html(result);
                        });
                    }

            });
        });
        
        $("span.glyphicon-map-marker").click(function() {
            console.log(this);
            $.ajax("/detailed-map", {
                method: "POST",
                datatype: "json",
                data: {'property':$(this).attr("id"),
                        'query': 'coffee'}
            }).done(function(result) {
                $("#contents").html(result);
            });
        });

        $("span.glyphicon-home").click(function() {
            console.log(this);
            $.ajax("/detailed-map", {
                method: "POST",
                datatype: "json",
                data: {'property':$(this).attr("id"),
                        'query': 'coffee'}
            }).done(function(result) {
                $("#contents").html(result);
            });
        });
    });
//Change check to a color bar in map view. When property is on the map, have it be opaque (set alpha value in RGBA to 1),
//If not in view, change transparency to 0.5 (RGBA)
</script>

    <table class="table table-striped table-hover">
        <thead>
            <tr><th>
                <h4>Homespectable Properties</h4>
            </th></tr>

        </thead>        
        <tbody>
            <style>
                {% for house in properties %}
                 {% set this_zpid = house.zpid %}

                .z{{ this_zpid }}-color {
                color: #{{ used_color_map[this_zpid|string]['hex'] }} !important;
                }
                {% endfor %}
            </style>
        {% for house in properties %}
        {% set this_zpid = house.zpid %}
        <tr>
           

            <td>{{ house.street }}   
             {% if "user_id" in session %}
                <span class="glyphicon glyphicon-star
                {% if house.zpid in liked %}
                yellow
                {% endif %}" id="{{ house.zpid }}" aria-hidden="true" 
                title="{% if house.zpid in liked %}
                Saved
                {% else %}
                Save to favorites
                {% endif %}"></span> 

            {% endif %} <br>

                {{ house.city }}, {{ house.state }}

                <span class="glyphicon glyphicon-pushpin blue" id="{{ house.zpid }}" aria-hidden="true" title="Unpin from session"></span>
                <span class="glyphicon glyphicon-check
                {% if house.zpid in props_in_table %}
                green
                {% endif %}
                " id="{{ house.zpid }}" aria-hidden="true" 
                title="
                {% if house.zpid in props_in_table %}
                Remove from comparison table
                {% else %}
                Add to comparison table
                {% endif %}" style="display:none"></span> 
                <div style="width:2em;height2em;position:relative;display:inline-block;">
                    <span class="glyphicon glyphicon-map-marker z{{ this_zpid }}-color" id="{{ house.zpid }}" aria-hidden="true" title="Show detailed map" style="display:none;" z-index="1"/>
                    <span class="glyphicon glyphicon-certificate z{{ this_zpid }}-color" aria-hidden="true" style="margin-top:2.25px; margin-left:-18px;position:absolute;display:none;" id="{{ house.zpid }}" z-index="2"/>
                    <span class="glyphicon glyphicon-home" aria-hidden="true" style="color:#FFFFFF;margin-top:4px; margin-left:-17.65px;position:absolute;display:none;" id="{{ house.zpid }}" z-index='3'/>
                </div>


         
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
