{% block content %}
<script>
//Make the login window disapear after submission
//in the login-form.html script
$(document).ready(function() {
    $("#login-submit").click(function() {
        console.log("Make login form disappear!");
        $.post("/login", {'email': $("#login-email").val(),
                          'password':$ ("#login-password").val()}).done(function(result) {
            console.log(result + "PASSWORD!");
            $("#session-login").html(result);
            console.log("logged in now");
            $.ajax("/property-list").done(function(result) {
                $("#left-col").html(result);
            });
        });
        console.log("Logged in");
        $("#login-form").css("display","none");
    });
});

</script>

<div class="top-right-nav">
    <h3>Login</h3>
    <form>
        <div>
            <label>Email:
                <input type="email" name="email" required id="login-email">
            </label>
        </div>

        <div>
            <label>Password:
                <input type="password" name="password" required id="login-password">
            </label>
        </div>

        <div>
            <input type="button" value="Log In" id="login-submit" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}