{% extends 'base.html' %}
{% block content %}
<!-- Need to change this to a property table -->

<div class="well spaced" style="width:50%;">
  <h2>Compare Properties</h2>

Page for comparing properties
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Bedrooms</th>
            <th>Bathrooms</th>
            <th>Zestimate</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for house in properties %}
        <tr>
            <td>{{ house.street }}</td>
            <td>{{ house.city }}</td>
            <td>{{ house.state }}</td>
            <td>{{ house.zipcode }}</td>
            <td>{{ house.bedrooms }}</td>
            <td>{{ house.bathrooms }}</td>
            <td>{{ house.z_amount }}</td>
            <td>
            {% if "user_id" in session %}
                <span class="glyphicon glyphicon-heart
                {% if house.zpid in liked %}
                red
                {% endif %}
                " id="{{ house.zpid }}" aria-hidden="true"></span> 

            {% endif %} 
                <span class="glyphicon glyphicon-pushpin yellow" id="{{ house.zpid }}" aria-hidden="true"></span>

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}